.App {
  text-align: center;
}

a {
  color: #6debdc
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 2.5% auto;
}

#wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 75%;
}

@media (max-width: 768px) {
  #wrap {
    max-width: 85%;
  }
}

#addressForm {
  text-align: center;
  padding-top: 1%;
  display: flex;
  justify-content: space-evenly;
}

#address {
  text-align: center;
  flex-shrink: 4;
}

@media (max-width: 768px) {
  #add {
    max-width: 50%;
  }
}

#addressBox {
  border-style: solid;
  border-radius: 8px;
  border-color: #6debdc;
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2% 5%;
}


#resultsArea {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2% 5%;
}

body {
  background-color: rgba(24, 28, 40, 255);
  color: #ffffff;
}

#footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 3px;
  text-size-adjust: 60%;
}

.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: 500;
  height: 2em;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.financial {
  text-align: right;
}

.table-item {
  padding: 1px 4em;
  border-style: solid;
  border-radius: 2px;
  border-color: #282c34;
}

.my-ID {
  text-align: right;
}

#tokens {
  display: flex;
  flex-direction: column;
}

.token {
  text-align: right;
  padding-right: 0.5em;
}

.result {
  border-style: solid;
  border-radius: 8px;
  border-color: #6debdc;
  padding: 0.5em;
  margin: 0.5em;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}